:root{
    --color1: #1f2937;
    --color2: #3882F6;
    --color3: #e5e7eb;
    --color4: #f9faf8;
    --font-size1: 18px;
    --font-size2: 24px;
    --font-size3: 36px;
    --font-size4: 48px;
    --font-weight: 900;
}

* {
    box-sizing: border-box;
}

/* header section*/

header{
    background-color: var(--color1);
    height: auto;
}

nav, nav ul {
    display: flex;
    justify-content: space-around;
   /* gap: 150px; */
}

nav ul{
    list-style: none;
    gap: 21px;
    justify-content: space-evenly;
}

a {
    text-decoration: none;

  }

a, .small{
    font-size: var( --font-size1);
    color: var(--color3);
}

.section1, .awesome-box{
    display: flex;
    /*justify-content: space-around;*/

}


.section1{
    justify-content: space-between;
    margin-left: 13%;
    margin-right: 13%;
    
}


.awesome-box, .placeholder-img{
    
    width: 49%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.awesome-box{
    flex-direction: column;
}

.logo-text{
    font-size: var(--font-size2);
    color: var(--color4);
}

.big{
    font-size: var(--font-size4);
    color: var(--color4);
}

.big, .small{
    margin: 0;
    padding: 0;
}

.button{
    background-color: var(--color2);
    color: var(--color4);
    width: 25%;
    border-radius: 7px;
    padding: 7px;
    margin-top: 10px;
}

.placeholder-img {
    align-content: center;
    justify-items: center;
    color: var(--color4);
    background-color: gray;
}

/* section 2 */

.section2{
    height: auto;
    display: flex;
    flex-direction: column;
}


.main-text-box, .maindiv{
display: flex;
justify-content: center;
gap: 60px;
    
}

.box1{
    border-style: solid;
    border-color: var(--color2);
    height: 130px;
    width: 130px;
    border-radius: 10%;
}

.illus-text{
    width: 130px;
    margin-top: 5px;
}

.text-box{
    text-align: center;

}

.random-text{
    color: var(--color1);
    font-size: var(--font-size3);
    font-weight: 900;
    text-align: center;
}

/* section 3 */

.section3{
    height: auto;
    background-color: var(--color3);
    

}

blockquote{
    font-size: var(--font-size3);
    font-style: italic;
    margin-left: 12%;
    margin-right: 12%;
    padding: 5%;
    text-align: left;
    
    & cite{
        display: block;
        text-indent: 21ch;
        font-weight: 900;
        font-style: normal;
        &::before{
            content: "-"
        }
    }
        
}

/* section 4 */

.section4{
    margin: 5%;
}

.sec4-box{
    display: flex;
    flex-direction: column;
    background-color: var(--color2);
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding: 3%;

}

/*
.button-signup{
    display: flex;
    gap: 30px;
    
}
*/

.button2{
    border-color: var(--color4) ;
    background-color: var(--color2);
    color: var(--color4);
    
    width: 17%;
    border-radius: 7px;
    padding: 7px;
    margin-bottom: 20px;
    
}


.action-text-box2{
    display: flex;
    gap: 20%;
}

.sec4-box div p{
    margin: 0;
    padding:0;
}

.sign-up-text{
    color: var(--color3);
}

.call-text{
    font-size: var( --font-size2);
    color: var(--color4);
    margin-bottom: 0%;
}

/* section 5 */